.home__hero {
  background-image: url('../assets/splash.png');
  height: 50vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.home__hero-text {
	h1 {
  font-family: 'virtua';
  text-transform: uppercase;
  line-height: 50px;
	}
  padding: 15px 35px;
  border-radius: 5px;
  border: 5px inset solid black;
  box-shadow: 4px 4px 0 1px black;
  background: rgba(255, 255, 255, 0.95);
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease;
}

@media only screen and (max-width: 600px) {
  .home__hero-text {
    width: 75vw;
  }
}